html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.question-container{
  background-color: rgb(246, 246, 246);
  border-left: 5px solid #066dad;
  width: 80%;
  margin: 3rem auto 0 auto;
  padding: 1.5rem 2rem;
}

.fade-in{
  animation: fadeIn ease 5s;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.question-container h2{
  text-align: center;
  font-size: 3rem;
  margin: 1rem auto;
  padding: 1.5rem;
}
.question{
  font-size: 1.2rem;
  margin-bottom: 3rem;
  line-height: 1.5;
  text-align: center;
}

.option-container{
  width: 100%;
  margin-left: 27px;
}

.option-dissable{
  pointer-events: none;
}

.option{
  background-color: #e8edf0;
  border-radius: 30px;
  color: rgb(20, 19, 19);
  cursor: pointer;
  margin: 2rem 1rem;
  padding: 1rem;
  transition: 0.2s linear all;
  text-align: center;
  width: 40%;
  float: left;
  border: solid #066dad;
  
}

.option:hover{
  background-color: #23a5f6;
  color: #e8edf0;
}
.clo{
  background-color: #066dad;
  color: #e8edf0;
}



.btncontainer{
  display: flex;
  justify-content: space-between;
}

/* Header================================================================== */
.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: #90CDEF;
  padding-left: 20px;
 
}

.header-nav ul {
  list-style: none;
}
.header-nav > ul {
  margin: 0;
  padding: 0;
}

.adminname{
  font-size: 25px;
  font-weight: 600;
}

/* Sidebar =================================================================================== */
.sidebar {
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 0;
  width: 250px;
  z-index: 996;
  transition: all 0.3s ease;
  overflow-y: auto;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #90CDEF;
  border: 1px solid black;
  transform: translateX(0);
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-nav li {
 width: 100%;
  list-style: none;
}
.sidebar-nav .nav-item {
  display: block;
  background-color: whitesmoke;
  border: 1px solid black;

}

.sidebar-nav .nav-heading {
  font-size: 11px;
  text-transform: uppercase;
  color: #899bbd;
  font-weight: 600;
  margin: 10px 0 5px 15px;
}
.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  color: #012970;
  transition: 0.3;
  background: #f6f9ff;
  padding: 10px 15px;
  border-radius: 4px;
}

.sidebar-nav .nav-link:hover {
  color: #000;
  background: #90CDEF;
}

.sidebar-nav  .nav-active {
  color: #000;
  background: #90CDEF;
}


#main {
  margin-top: 65px;
  margin-left: 240px;
  padding: 20px 30px;
  transition: all 0.3s;
}

@media only screen and (max-width: 950px) {
  #main {
    margin-left: 0px;
  }
}

.pagetitle {
  margin-bottom: 10px;
}
.pagetitle h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  color: #012970;
}


.single-card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
  padding: 10px;
  background-color: #f5f5f5 !important;
  height: 500px;
}
.card-title {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}

.card-body {
  padding: 0 20px 20px 20px;
}

.card-list{
  margin-top: 20px;
  border-radius: 20px;
}

.list-item{
  /* padding-top: 20px; */
  margin: 20px 0px 0px 20px;
  padding-bottom: 20px;
  display: block;
  border-bottom: 1px solid rgb(128, 127, 127);
}

.quiz-btn{
 margin-top: 35px;
}

.flat-btn{
    background-color: #90CDEF !important;
    color: black !important;
    font-weight: 500;
    border: none !important;
}

.btn-update{
  background-color: rgb(137, 230, 137) !important;
}

.btn-delete{
  background-color: rgb(230, 171, 137) !important;
}

.flat-add-btn{
  background-color: #90CDEF !important;
  color: black !important;
  font-weight: 500;
  border: none !important;
  width:90px;
}


.lsit_card{
  margin-top: 30px;
}

.option_list{
  margin: 2rem 2rem;
}
.question_option{
  border: 1px solid black;
  text-align: center;
  font-size: 15px;
  margin: 1rem 1rem;
  padding: 8px;
  border-radius: 30px;
  background-color: #e8edf0;
  border: 1px solid #066dad;
  color: rgb(20, 19, 19);
  width: 40%;
}

.result_option{
  border: 1px solid black;
  text-align: center;
  font-size: 15px;
  margin: 1rem 1rem;
  padding: 8px;
  background-color: #e8edf0;
  border: 1px solid #066dad;
  color: rgb(20, 19, 19);
  width: 40%;
}

.attempt_list{
  font-size: 22px;
}

.report-btn{
  width: 110px !important;
  background-color: #90CDEF !important;
  color: black !important;
  font-weight: 500 !important;
  border: none !important;
}

.attempt-title{
  font-size: 25px;
}

.dashboard_box{
  display: flex;
  height: 300px;
  width: 300px;
  background-color: #90CDEF;
  position: relative;
  justify-content: center;
  align-items: center;
}



.admindashboard{
  margin-left: 60px;
  margin-top: 60px;
}

.boxcontain{
  font-size: 25px; 
}

.reslut-option{
  margin-top: 35px;
}

.sidebar-btn{
  font-size: 35px;
  visibility: hidden;
}

@media only screen and (max-width: 950px) {
  .sidebar-btn{
    visibility:visible;
  }
  /* .sidebar{
    visibility: hidden;
  } */
}

.sidebar_active{
  visibility: hidden;
  transition: all 0.2s;
  transform: translateY(0);
}

@media only screen and (max-width: 426px) {
  .dashboard_box{
    height: 180px;
    width: 180px;
    background-color: #90CDEF;
  }

  .admindashboard{
    margin-left: 0px;
    margin-top: 5px;
  }

  .boxcontain{
    font-size: 20px; 
  }

  .sidebar {
    width: 180px;
  }
  .card-btn{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5px;
  }
  .lsit_card {
    margin-left: 0px;
    margin-right: 2px;
  }

  .attempt_list {
    font-size: 18px;
  }

  .report-btn{
    width: 90px !important;
    font-weight: 450 !important;
  }

  .attempt-title {
    font-size: 22px;
  }

  .result-op{
    display: flex;
    width: 92% !important;
    justify-content: center;
  }

  .userbox_contain{
    font-size: 15px !important;
  }

  .question-container{
    width: 100%;
  }

  .question-container h2{
    font-size: 2rem;
    margin: 0.5rem auto;
  }

  .question{
    margin-top: 1rem !important;
    margin-bottom: 1rem;
  }

  .option {
    margin: 1rem 0.5rem;
    padding: 0.5rem;
  }

  .option-container{
    margin-left: 0px;
  }

  .quizbtn{
    font-size: 11px;
  }

  .result-container{
    width: 105% !important;
  }
  .resultTable{
    font-size: 11px;
  }
  
}


@media only screen and (max-width: 376px) {
  .dashboard_box{
    height: 150px;
    width: 130px;
    background-color: #90CDEF;
  }

  .admindashboard{
    margin-left: 0px;
    margin-top: 5px;
  }

  .boxcontain{
    font-size: 18px; 
  }

  .sidebar {
    width: 160px;
  }

  .lsit_card {
    margin-left: -7px;
    margin-right: -4px;
  }

  .report-btn{
    width: 68px !important;
    font-weight: 450 !important;
    font-size: 13px!important;
  }

  .attempt-title {
    font-size: 20px;
  }

  .attempt_list {
    font-size: 16px;
  }

  .question-container{
    width: 113%;
    margin-left: -16px !important;
  }
  .quizbtn {
    font-size: 11px !important;
  }
  .result-container{
    width: 115% !important;
  }
  
  .resultTable{
    font-size: 10px;
  }

}

@media only screen and (max-width: 321px) {
  .resultTable{
    font-size: 7px;
  }
}